
python automações/api/.venv/lib/python3.12/site-packages/click/decorators.py
python automações/api/.venv/lib/python3.12/site-packages/numpy/typing/tests/data/pass/arithmetic.py
python automações/api/.venv/lib/python3.12/site-packages/pip/_vendor/urllib3/util/__pycache__/url.cpython-312.pyc
python automações/api/.venv/lib/python3.12/site-packages/requests/__pycache__/status_codes.cpython-312.pyc
python automações/api/.venv/lib/python3.12/site-packages/streamlit/static/static/media/flake-1.B2r5AHMK.png
python automações/api/.venv/lib/python3.12/site-packages/pip/_vendor/urllib3/util/__pycache__/url.cpython-312.pyc
python automações/api/.venv/lib/python3.12/site-packages/requests/__pycache__/status_codes.cpython-312.pyc
python automações/api/.venv/lib/python3.12/site-packages/streamlit/static/static/media/flake-1.B2r5AHMK.png
